body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

img{
    border:3px solid  #0F3B39;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50px;  
    object-fit: cover;  
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: 0px;
}
.line{
    border:1px solid black;
    margin-top: 0px;
    display: block;
}

#navigation ul li a{
    width: 100%;
}
ul {
    list-style-type: none;    
}

a{
    text-decoration: none;
    color:black;
}


ul li a{
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #0F3B39;
    text-transform: uppercase;
    margin-bottom: 1px;
}
li:last-child a{
    background-color: black;
    color:white;
}
a:hover{
    color:gray
}
ul{
    padding:0px;
}
}
h2 {
    text-transform: uppercase;
}

p + span {
    color: #0F3B39;
    text-align: left;    
}
p{
    margin-bottom: 0px;;
}