body {
    margin: 0em;
    padding: 0em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;    
}

img{
    border:0.25em solid  #0F3B39;
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    margin-top: 3em;  
    object-fit: cover;  
}

h1 {
    font-family:;
    letter-spacing: 0.02em;
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: 0em;
}
.line{
    border:1px solid black;
    margin-top: 0em;
    display: block;
}

#navigation ul li a{
    width: 100%;
}
ul {
    list-style-type: none;    
}

a{
    text-decoration: none;
    color:black;
}


ul li a{
    display: block;
    text-align: center;
    padding: 0.31em;
    color: white;
    background-color: #0F3B39;
    text-transform: uppercase;
    margin-bottom: 0.06em;
}
li:last-child a{
    background-color: black;   
}

a:hover{
    color:gray;
}

ul{
    padding:0em;
}
}
h2 {
    text-transform: uppercase;
}

p + span {
    color: #0F3B39;
    text-align: left;    
}
p{
    margin-bottom: 0em;
}

h1:first-of-type{
    font-size: 3vw;
}

.fab.fa-github  {
    font-size: 1.25em;
    vertical-align: -0.10em;
} 

i, a>span{
    color: #0F3B39;
}

a:hover i, a:hover span{
    color:gray;
}

label {
    display: block;
    padding-top: 1em;
    color: #0F3B39;
    text-align: center;
}

button {
    border:none;
    border-radius: 1em;
    padding: 0 1.5em;
    background-color: #0F3B39;
    color: white;
    margin-top: 1em;
}

button:hover {
    background-color: gray;
}

input, textarea {
    border: none;
    border-color: #0F3B39;
}

textarea:hover {
    color:gray
}

textarea {
    vertical-align: top;
}