body {
    margin: 0em;
    padding: 0em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

img{
    border:0.25em solid  #0F3B39;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-top: 3em;  
    object-fit: cover;  
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: 0em;
    font-size: 7vw;
}
.line{
    border:1px solid black;
    margin-top: 0em;
    display: block;
}

#navigation ul li a{
    width: 100%;
}
ul {
    list-style-type: none;    
}

a{
    text-decoration: none;
    color:black;
}


ul li a{
    display: block;
    text-align: center;
    padding: 0.31em;
    color: white;
    background-color: #0F3B39;
    text-transform: uppercase;
    margin-bottom: 0.06em;
}
li:last-child a{
    background-color: black;   
}

a:hover{
    color:gray;
}

ul{
    padding:0em;
}
}
h2 {
    text-transform: uppercase;
}

p + span {
    color: #0F3B39;
    text-align: left;    
}
p{
    margin-bottom: 0em;
}

.section #kontakt div a{
    font-size: 3vw;
}

